= stylesheet_link_tag "jquery/ui-lightness/jquery-ui-1.10.2.custom.min.css"
= stylesheet_link_tag "bootstrap/bootstrap.css"
= stylesheet_link_tag "bootstrap/bootstrap-responsive.css"

= javascript_include_tag "jquery/jquery-1.9.1.js"
= javascript_include_tag "jquery/jquery-ui-1.10.2.custom.min.js"
= javascript_include_tag "bootstrap/bootstrap.min.js"
