= stylesheet_link_tag "jquery/ui-lightness/jquery-ui-1.10.2.custom.min.css"
= stylesheet_link_tag "bootstrap/bootstrap.min.css"
= stylesheet_link_tag "bootstrap/bootstrap-responsive.min.css"
= stylesheet_link_tag "main"

= javascript_include_tag 'application'
