!!! 5
!!!
%html{:lang => "en"}
  %head
    %title iBiyahe
    = render :partial => "/layouts/assets"

  %body
    .notice{:style => "display: none;"}
      = notice
    .alert{:style => "display: none;"}
      = alert

    #header
      = image_tag "travel-icon.jpg"
    = render :partial => "/layouts/navigation_bar"


    #main
      = yield
